/* App.css */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to left, rgb(103, 232, 249), rgb(253, 230, 138), rgb(216, 180, 254));
  margin: 0;
  padding: 0;
}

.app {
  max-width: 75%;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background:white;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media (min-width: 600px) {
  .content {
    flex-direction: row;
    justify-content: center;
  }
}

.brother-image {
  width: 120%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .brother-image {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.wishes {
  text-align: center;
}

@media (min-width: 600px) {
  .wishes {
    text-align: left;
  }
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: #888;
}

.music-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.music-button:hover {
  background-color: #45a049;
}

img {
  border-radius: 50%;
}
